<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dalle-Nano</title>
		<link rel="stylesheet" href="/static/css/home.css" />
	</head>
	<body>
		<header>
			<h1>Welcome to Dalle-Nano</h1>
			<p>AI generated images based on a prompt!</p>
		</header>
		<main>
			<form id="input_prompt">
				<fieldset class="get-prompt">
					<label>Prompt: <input type="text" name="prompt" id="Prompt" /></label>
				</fieldset>
					<input type="submit" value="Submit" id="submit-prompt" />
			</form>
		</main>
	</body>
</html>
